
body { 
  background-image: url(https://i.pinimg.com/originals/bb/84/6f/bb846f978013d6565df24a8f77891af4.jpg);
  background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .jumbotron {
font-family: 'Poiret One', cursive;
font-size: 50px;
text-align: center;
  }

  .lead {
    font-family: 'Poiret One', cursive;
    font-size: 50px;
  } 
  h2 {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
  }
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 5%; */
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.7);
}
#notes {
  float: right;
  width: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

